{% extends 'base.html' %}
{% load static %}
{% block title %}
- Checkout
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="w-100 text-center">
            <h2 class="mb-4"><strong>Checkout</strong></h2>
        </div>
        <div class="col-12 mb-4 text-center">
            <div class="row d-md-flex flex-row-reverse">

                <div class="col-12 col-md-6">
                    <legend>Cart Summary</legend>
                    <ul class="list-group">
                        {% for item in cart %}
                        <li class="list-group-item list-group-item-action p-2 p-md-4">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <i
                                        class="fas fa-plus mr-2 border border-success text-success rounded-circle p-1"></i>
                                </div>
                                <div class="w-40">
                                    <p class="text-secondary pl-2 mb-0">
                                        <span class="font-weight-bold">{{ item.request_type|title }}</span> -
                                        {{ item.title }}
                                    </p>
                                </div>
                                <div class="w-40">
                                    <p class="text-secondary font-weight-bold pl-2 mb-0">
                                        <strong>€</strong><span>{{ item.amount }}</span>.00
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li class="list-group-item list-group-item-action p-2 p-md-4">
                            <div class="text-center">
                                <div class="">
                                    <p class="text-secondary font-weight-bold pl-2 mb-0"><strong>You have no items in
                                            your
                                            cart.</strong>
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="list-group-item list-group-item-action p-2 p-md-4">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <i
                                        class="far fa-credit-card mr-2 border border-dark text-muted rounded-circle p-1"></i>
                                </div>
                                <div class="w-40">
                                    <p class="text-secondary pl-2 mb-0">
                                        <span class="font-weight-bold">Total</span>
                                    </p>
                                </div>
                                <div class="w-40">
                                    <p class="text-secondary font-weight-bold pl-2 mb-0">
                                        <strong>€</strong><span>{{ cart_total }}</span>.00
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br>
                </div>



                <div class="col-12 col-md-6">
                    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <legend>Order Details</legend>
                        <div id="credit-card-errors" style="display:none">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        </div>
                        <div class="form-group">

                            <div class="w-100">
                                {{ order_form.full_name }}
                            </div>
                            <div class="w-100">
                                {{ order_form.street_address1 }}
                            </div>
                            <div class="w-100">
                                {{ order_form.street_address2 }}
                            </div>
                            <div class="w-100">
                                {{ order_form.town_or_city }}
                            </div>
                            <div class="w-100">
                                {{ order_form.country }}
                            </div>
                            <div class="w-100">
                                {{ order_form.phone_number }}
                            </div>
                        </div>
                        <br>
                        <legend>Card Details</legend>
                        <div class="form-group">
                            <div class="w-100">
                                {{ payment_form.credit_card_no }}
                            </div>
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-4 col-md-4">
                                        {{ payment_form.cvv }}
                                    </div>
                                    <div class="col-8 d-flex justify-content-end">
                                        <label for="expiry_month" class="mr-3">Expiry Date:</label>
                                        <div>{{ payment_form.expiry_month }}</div>
                                        <div class="ml-3">{{ payment_form.expiry_year }}</div>
                                    </div>
                                    <div>
                                        {{ payment_form.stripe_id }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% if cart|length > 0 %}
                        <div class="d-flex justify-content-end">
                            <div>
                                <input type="submit" id="submit_payment_btn" name="commit" value="Pay Now"
                                    class="btn btn-success my-3"></input>
                                <div class="text-info mr-5 powered-by-text">
                                    <div><em>Powered by</em></div>
                                    <i class="fab fa-stripe"></i>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-end">
                            <div>
                                <button class="btn btn-success my-3 disabled" data-toggle="tooltip" data-placement="top"
                                    title="Your cart is empty">Pay Now</button>
                                <div class="text-info mr-5 powered-by-text">
                                    <div><em>Powered by</em></div>
                                    <i class="fab fa-stripe"></i>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stripe_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.setPublishableKey('{{ publishable }}');
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block page_js %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}