{% extends 'base.html' %}
{% load static %}
{% block title %}
- Cart
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-4 text-center">
            <h2 class="mb-4"><strong>Shopping Cart</strong></h2>

            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item list-group-item-action p-2 p-md-4">
                    <div class="d-flex flex-row align-items-center">
                        <div>
                            <i class="fas fa-plus mr-2 border border-success text-success rounded-circle p-1"></i>
                        </div>
                        <div class="w-40">
                            <p class="text-secondary pl-2 mb-0">
                                <span class="font-weight-bold">{{ item.request_type|title }}</span> - {{ item.title }}
                            </p>
                        </div>
                        <div class="w-40">
                            <p class="text-secondary font-weight-bold pl-2 mb-0">
                                <strong>€</strong><span>{{ item.amount }}</span>.00
                            </p>
                        </div>
                        <form method="POST" action="{% url 'update_cart' %}" class="d-inline-flex">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-prepend d-none d-lg-inline-flex">
                                    <span class="input-group-text px-1">€</span>
                                </div>
                                <input type="number" name="amount_to_pay" class="form-control p-1"
                                    aria-label="Amount (to the nearest Euro)" value="{{ item.amount }}" min="50">
                                <input type="number" name="key" class="d-none" value="{{ item.pk }}">
                                <div class="input-group-append d-none d-lg-inline-flex">
                                    <span class="input-group-text px-1">.00</span>
                                </div>
                            </div>
                            <div class="ml-1 ml-md-2">
                                <button type="submit" class="btn btn-info text-white"><i
                                        class="fas fa-sync"></i></button>
                            </div>
                        </form>
                        <div class="ml-1 ml-md-3">
                            <a href="{% url 'remove_from_cart' item.pk %}" type="button"
                                class="btn btn-danger text-white"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item list-group-item-action p-2 p-md-4">
                    <div class="text-center">
                        <div class="">
                            <p class="text-secondary font-weight-bold pl-2 mb-0"><strong>You have no items in your
                                    cart.</strong>
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% if cart_items|length > 0 %}
            <div class="d-flex button-container">
                <a href="{% url 'checkout' %}" class="btn btn-success my-3">Checkout</a>
            </div>
            {% else %}
            <div class="d-flex button-container">
                <a href="{% url 'checkout' %}" class="btn btn-success my-3 disabled">Checkout</a>
            </div>
            {% endif %}





        </div>
    </div>
</div>
{% endblock %}