{% extends 'base.html' %}
{% block title %}
- Stats
{% endblock %}
{% block chart_js_link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.css">
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="w-100 border heading-border mx-3 my-3 py-4 px-sm-5 text-center">
            <h3><strong>UnicornAttractor Issue Statistics</strong></h3>
            <p class="text-secondary w-75 mx-auto">Here you can analyse data from our bugs and features database.</p>
        </div>
    </div>

    <div class="row">
        <div class="w-100 my-5 mx-3 px-5">
            <h4 class="text-center">Current Developer Time Allocation</h4>
            <div class="w-75 mx-auto">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                        aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%"></div>
                </div>
                <div class="d-flex">
                    <div>New Feature Development</div>
                    <div class="ml-auto">Debugging</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center">Bug Closures</h4>
            <p class="text-center"><em>By Date</em></p>
            <canvas id="bugClosureChart" width="400" height="240"></canvas>
        </div>
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center">Feature Closures</h4>
            <p class="text-center"><em>By Date</em></p>
            <canvas id="featureClosureChart" width="400" height="240"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center">Top Voted Bugs</h4>
            <p class="text-center"><em>Does not include closed bug reports</em></p>
            <canvas id="topVotedBugsChart" width="400" height="240"></canvas>
        </div>
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center">Top Voted Features</h4>
            <p class="text-center"><em>Does not include closed feature requests</em></p>
            <canvas id="topVotedFeaturesChart" width="400" height="240"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center mb-4">Status of All Bugs Reported</h4>
            <canvas id="allBugsChart" width="400" height="240" data-chartData="{{ all_bugs_chart }}"></canvas>
        </div>
        <div class="col-12 col-md-6 my-5">
            <h4 class="text-center mb-4">Status of All Features Requested</h4>
            <canvas id="allFeaturesChart" width="400" height="240" data-chartData="{{ all_features_chart }}"></canvas>
        </div>
    </div>



</div>
{% endblock %}
{% block chart_js_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>
{% endblock %}
{% block page_js %}
<script src="{% static 'js/stats.js' %}"></script>
{% endblock %}