{% extends 'base.html' %}
{% load static %}

{% block content %}

<img class="brand-logo d-block mx-auto" src="{% static 'img/UnicornAttractor.png' %}" alt="UnicornAttractor logo">
<h3 class="text-primary text-center"><strong>Issue and Feature Tracker</strong></h3>
{% if not user.is_authenticated %}
<div class="d-flex justify-content-center my-5">
    <a href="{% url 'login' %}" class="btn btn-lg btn-success mx-2 fixed-width-btn">Login</a>
    <a href="#" class="btn btn-lg btn-primary mx-2 fixed-width-btn">Register</a>
</div>
{% endif %}

<h4>Hello</h4>
<p>This is the new issue tracker app.</p>

{% endblock %}