{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}
- Create Bug
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 mb-4 text-center">
            <h2 class="mb-4"><strong>Report A Bug</strong></h2>
            {{ form.media }}
            <form method="POST" action='' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <input type="submit" class="btn btn-success" value="Submit New Bug">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static 'js/create_issue.js' %}"></script>
{% endblock %}