{% extends 'base.html' %}
{% block title %}
- Issue Detail
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <!-- Issue Card -->
        <div class="card border-dark mb-1 w-75 mx-auto">
            <div class="card-header">
                <div class="row py-2">
                    <div class="col-12 col-md-6">
                        <h4 class="card-title">{{ issue.title }}</h4>
                    </div>
                    <div class="col-12 col-md-6">
                        {% if issue.status == 'closed' %}
                        <span class="badge badge-danger p-2">This issue is closed - no more comments or upvotes
                            allowed!</span>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        {% if issue.issue_type == 'bug' %}
                        <span class="d-block text-muted">#{{ issue.pk }} - Bug</span>
                        {% else %}
                        <span class="d-block text-muted">#{{ issue.pk }} - New Feature</span>
                        {% endif %}
                    </div>
                    <div class="ml-auto">
                        <i class="far fa-comment"></i>
                        <span class="text-secondary"> Comments </span>
                        <span class="badge badge-light badge-pill issue-badge-pill"
                            id="comments-count">{{ comments|length }}</span>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <h6 class="card-title">Issue Description</h6>
                <p class="card-text mt-2 mb-4">{{ issue.description | safe }}</p>
                <hr>
                <h6 class="card-title">Status</h6>
                {% if issue.status == 'pending' %}
                <span class="badge badge-warning badge-pill issue-badge-pill">Pending</span>
                {% elif issue.status == 'in progress' %}
                <span class="badge badge-success badge-pill issue-badge-pill">In Progress</span>
                {% else %}
                <span class="badge badge-info badge-pill issue-badge-pill">Closed</span>
                {% endif %}
                <hr>
                <div class="d-flex">
                    <div class="col-12 col-md-6 pl-5">
                        {% if issue.status == 'closed' %}
                        <a class="disabled"><i class="far fa-thumbs-up fa-2x text-muted"></i></a>
                        {% elif not user.is_authenticated %}
                        <a class="disabled" data-toggle="tooltip" data-placement="top" title=""
                            data-original-title="Please Log In"><i class="far fa-thumbs-up fa-2x text-muted"></i></a>
                        {% elif user == issue.author %}
                        <a class="disabled"><i class="far fa-thumbs-up fa-2x text-muted"></i></a>
                        {% else %}
                        {% if issue.issue_type == 'feature' %}
                        {% if user_vote == True %}
                        <a class="disabled"><i class="fas fa-thumbs-up fa-2x text-muted"></i></a>
                        {% else %}
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#featureVoteModal"><i
                                class="far fa-thumbs-up fa-2x text-muted"></i></a>
                        <!-- Modal -->
                        <div class="modal fade" id="featureVoteModal" tabindex="-1" role="dialog"
                            aria-labelledby="featureVoteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="featureVoteModalLabel">Feature Vote Payment Required
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Voting on a new feature requires a payment of at least € 50.00. The highest
                                            funded
                                            new feature request will be the next feature to go into development. You can
                                            choose to pay more if you wish.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go
                                            Back</button>
                                        <a href="{% url 'add_vote_to_cart' issue.pk %}" class="btn btn-success">Add to
                                            Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}

                        {% else %}
                        {% if user_vote == True %}
                        <a class="vote-btn" href="javascript:void(0)" data-vote-status="true"><i
                                class="fas fa-thumbs-up fa-2x text-muted"></i></a>
                        {% else %}
                        <a class="vote-btn" href="javascript:void(0)" data-vote-status="false"><i
                                class="far fa-thumbs-up fa-2x text-muted"></i></a>
                        {% endif %}
                        {% endif %}


                        {% endif %}
                        <span id="vote-count">{{ votes_count }}</span>
                    </div>
                    <div class="col-12 col-md-6">
                        {% if issue.issue_type == 'bug' %}
                        <p class="text-muted text-right mb-0">Reported by {{ issue.author }} on {{ issue.date_created }}
                        </p>
                        {% else %}
                        <p class="text-muted text-right mb-0">Requested by {{ issue.author }} on
                            {{ issue.date_created }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row" id="comment-container">
        <!-- Comment cards -->
        {% for comment in comments %}
        <!-- card start -->
        <div class="comment-card w-75 mx-auto pl-4">
            <i class="fa fa-chevron-down fa-2x text-black-50"></i>
        </div>
        <div class="card heading-border mb-3 w-75 mx-auto">
            <div class="card-header">
                <p class="text-muted pt-1 mb-0">{{ comment.user }}</p>
            </div>
            <div class="card-body">
                <p class="card-text mt-2 mb-4">{{ comment.comment }}</p>
                <hr>
                <p class="text-muted text-right mb-0">Commented on {{ comment.date_published }}</p>
            </div>
        </div>
        <!-- card end -->
        {% endfor %}

    </div>
    <div class="row">
        {% if issue.status == 'closed' %}
        <div class="w-75 mx-auto border my-3">
            <input type="textarea" class="w-100 p-3" placeholder="Leave a comment..." disabled>
        </div>
        <div class="w-75 mx-auto d-flex justify-content-end">
            <button class="btn btn-success" disabled aria-disabled="true">Comment</button>
        </div>
        {% else %}
        {% if not user.is_authenticated %}
        <div class="w-75 mx-auto border my-3" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Please Log In To Comment">
            <input type="textarea" class="w-100 p-3" id="new-comment-field" placeholder="Leave a comment..." rows="5"
                maxlength="624" disabled="">
        </div>
        {% else %}
        <div class="w-75 mx-auto border my-3">
            <input type="textarea" class="w-100 p-3" id="new-comment-field" placeholder="Leave a comment..." rows="5"
                maxlength="624">
        </div>
        {% endif %}
        <div class="w-75 mx-auto d-flex justify-content-end">
            <button class="btn btn-success disabled" id="new-comment-btn" data-issue-id="{{ issue.pk }}"
                data-user="{{ user }}" disabled>Comment</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static 'js/issue_detail.js' %}"></script>
{% endblock %}