{% extends 'base.html' %}
{% block title %}
- Tracker
{% endblock %}
{% block content %}
<div class="container mb-4">

    <div class="row">
        <div class="border heading-border mx-3 my-3 py-4 px-sm-5 text-center">
            <h3><strong>UnicornAttractor Issue Tracker</strong></h3>
            <p class="text-secondary w-75 mx-auto">Here you can view and track Bugs that have been reported and New
                Features that have been requested. Bug Reports and Feature Requests will be prioritized in order of the
                number of upvotes received. Requesting and upvoting a new feature will require a donation but we
                guarantee to spend at least 50% of our time developing the highest-voted feature.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <ul class="list-group d-flex flex-column">
                <li class="list-group-item list-group-item-secondary">
                    <div class="d-flex flex-row text-center">
                        <h4 class="text-dark"><strong>Bugs</strong></h4>
                        <div class="ml-auto pt-2">
                            <a href="#" class="mx-1 text-dark text-decoration-none">Search <i
                                    class="fas fa-caret-down"></i></a>
                            <a href="#" class="mx-3 text-dark text-decoration-none">Status <i
                                    class="fas fa-caret-down"></i></a>
                            <a href="#" class="mx-1 text-dark text-decoration-none">Sort <i
                                    class="fas fa-caret-down"></i></a>
                        </div>
                    </div>
                </li>
                {% for bug in bugs %}
                <li class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row">
                        <div>
                            <i class="fas fa-bug mr-2 border border-info text-info rounded-circle p-1"></i>
                        </div>
                        <h6 class="issue-title text-wrap">
                            <a href="bug_detail/{{ bug.pk }}/"
                                class="text-decoration-none text-secondary font-weight-bold"><strong>{{ bug.title }}</strong></a>
                        </h6>
                        <div class="ml-auto min-width-90 d-flex justify-content-center">
                            {% if bug.status == 'pending' %}
                            <span class="d-inline-block badge badge-warning badge-pill issue-badge-pill">Pending</span>
                            {% elif bug.status == 'in progress' %}
                            <span class="d-inline-block badge badge-success badge-pill issue-badge-pill">In
                                Progress</span>
                            {% else %}
                            <span class="d-inline-block badge badge-info badge-pill issue-badge-pill">Closed</span>
                            {% endif %}
                        </div>
                        <div class="ml-1 min-width-90">
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-thumbs-up"></i>
                                {{ bug.votes }}</span>
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-comment"></i>
                                {{ bug.comments }}</span>
                        </div>
                    </div>
                    <span class="text-muted">#{{ bug.pk }} Created on {{ bug.date_created }} by {{ bug.author }}</span>
                </li>
                {% empty %}
                <li class="list-group-item">
                    <div class="text-center">
                        <p class="pt-2">There are no reported bugs open.</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if not user.is_authenticated %}
            <div class="d-flex button-container" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Please Log In">
                <a href="{% url 'create_bug' %}" class="btn btn-success my-2 disabled">New Bug</a>
            </div>
            {% else %}
            <div class="d-flex button-container">
                <a href="{% url 'create_bug' %}" class="btn btn-success my-2">New Bug</a>
            </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-6 mb-4">
            <ul class="list-group d-flex flex-column">
                <li class="list-group-item list-group-item-secondary">
                    <div class="d-flex flex-row text-center">
                        <h4 class="text-dark"><strong>Features</strong></h4>
                        <div class="ml-auto pt-2">
                            <a href="#" class="mx-1 text-dark text-decoration-none">Search <i
                                    class="fas fa-caret-down"></i></a>
                            <a href="#" class="mx-3 text-dark text-decoration-none">Status <i
                                    class="fas fa-caret-down"></i></a>
                            <a href="#" class="mx-1 text-dark text-decoration-none">Sort <i
                                    class="fas fa-caret-down"></i></a>
                        </div>
                    </div>
                </li>
                {% for feature in features %}
                <li class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row">
                        <div>
                            <i class="fas fa-plus mr-2 border border-success text-success rounded-circle p-1"></i>
                        </div>
                        <h6 class="issue-title text-wrap">
                            <a href="feature_detail/{{ feature.pk }}/"
                                class="text-decoration-none text-secondary font-weight-bold"><strong>{{ feature.title }}</strong></a>
                        </h6>
                        <div class="ml-auto min-width-90 d-flex justify-content-center">
                            {% if feature.status == 'pending' %}
                            <span class="d-inline-block badge badge-warning badge-pill issue-badge-pill">Pending</span>
                            {% elif feature.status == 'in progress' %}
                            <span class="d-inline-block badge badge-success badge-pill issue-badge-pill">In
                                Progress</span>
                            {% else %}
                            <span class="d-inline-block badge badge-info badge-pill issue-badge-pill">Closed</span>
                            {% endif %}
                        </div>
                        <div class="ml-1 min-width-90">
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-thumbs-up"></i>
                                {{ feature.votes }}</span>
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-comment"></i>
                                {{ feature.comments }}</span>
                        </div>
                    </div>
                    <span class="text-muted">#{{ feature.pk}} Created on {{ feature.date_created }} by
                        {{ feature.author }}</span>
                </li>
                {% empty %}
                <li class="list-group-item">
                    <div class="text-center">
                        <p class="pt-2">There are no new feature requests open.</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if not user.is_authenticated %}
            <div class="d-flex button-container" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Please Log In">
                <a href="{% url 'create_feature' %}" class="btn btn-success my-2 disabled">New Feature</a>
            </div>
            {% else %}
            <div class="d-flex button-container">
                <a href="{% url 'create_feature' %}" class="btn btn-success my-2">New Feature</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}