{% extends 'base.html' %}
{% load static %}
{% block title %}
- Tracker
{% endblock %}
{% block content %}
<div class="container mb-4">

    <div class="row">
        <div class="border heading-border mx-3 my-3 py-4 px-sm-5 text-center">
            <h3><strong>UnicornAttractor Issue Tracker</strong></h3>
            <p class="text-secondary w-75 mx-auto">Here you can view and track Bugs that have been reported and New
                Features that have been requested. Bug Reports and Feature Requests will be prioritized in order of the
                number of upvotes received. Requesting and upvoting a new feature will require a donation but we
                guarantee to spend at least 50% of our time developing the highest-voted feature.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <ul class="list-group d-flex flex-column">
                <li class="list-group-item list-group-item-secondary">
                    <div class="d-lg-flex flex-lg-row text-center">
                        <h4 class="text-dark"><strong>Bugs</strong></h4>
                        <div class="ml-auto pt-2">
                            <form action="" method="POST" id="bug-filter-form">
                                {% csrf_token %}
                                <!-- Search filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="bugSearchDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Search
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="bugSearchDropdownButton">
                                        <input type="text" class="form-control" id="bugSearchDropdownInput"
                                            name="bug-search" placeholder="Search title">
                                    </div>
                                </div>
                                <!-- Status filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="bugStatusDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Status
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="bugStatusDropdownButton">
                                        <div class="custom-control bug-status-radio">
                                            <input type="radio" id="bugStatusPending" name="bugStatus"
                                                class="custom-control-input bug-status" value="pending">
                                            <label class="custom-control-label"
                                                for="bugStatusPending"><small>Pending</small></label>
                                        </div>
                                        <div class="custom-control bug-status-radio">
                                            <input type="radio" id="bugStatusInProgress" name="bugStatus"
                                                class="custom-control-input bug-status" value="in-progress">
                                            <label class="custom-control-label" for="bugStatusInProgress"><small>In
                                                    Progess</small></label>
                                        </div>
                                        <div class="custom-control bug-status-radio">
                                            <input type="radio" id="bugStatusClosed" name="bugStatus"
                                                class="custom-control-input bug-status" value="closed">
                                            <label class="custom-control-label"
                                                for="bugStatusClosed"><small>Closed</small></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sort filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="bugSortDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Sort
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="bugSortDropdownButton">
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortNameDown" name="bugSort"
                                                class="custom-control-input bug-sort" value="name-down">
                                            <label class="custom-control-label" for="bugSortNameDown"><small>Name <i
                                                        class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortNameUp" name="bugSort"
                                                class="custom-control-input bug-sort" value="name-up">
                                            <label class="custom-control-label" for="bugSortNameUp"><small>Name <i
                                                        class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortVotesDown" name="bugSort"
                                                class="custom-control-input bug-sort" value="votes-down">
                                            <label class="custom-control-label" for="bugSortVotesDown"><small>Votes <i
                                                        class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortVotesUp" name="bugSort"
                                                class="custom-control-input bug-sort" value="votes-up">
                                            <label class="custom-control-label" for="bugSortVotesUp"><small>Votes <i
                                                        class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortCommentsDown" name="bugSort"
                                                class="custom-control-input bug-sort" value="comments-down">
                                            <label class="custom-control-label"
                                                for="bugSortCommentsDown"><small>Comments
                                                    <i class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control bug-sort-radio">
                                            <input type="radio" id="bugSortCommentsUp" name="bugSort"
                                                class="custom-control-input bug-sort" value="comments-up">
                                            <label class="custom-control-label" for="bugSortCommentsUp"><small>Comments
                                                    <i class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-secondary mx-2 d-none">Submit</button>

                                <a href="{% url 'tracker' %}" class="btn btn-sm btn-secondary mx-2">Reset</a>
                            </form>
                        </div>
                    </div>
                </li>
                {% for bug in bugs %}
                <li class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row">
                        <div>
                            <i class="fas fa-bug mr-2 border border-info text-info rounded-circle p-1"></i>
                        </div>
                        <h6 class="issue-title text-wrap">
                            <a href="bug_detail/{{ bug.pk }}/"
                                class="text-decoration-none text-secondary font-weight-bold"><strong>{{ bug.title }}</strong></a>
                        </h6>
                        <div class="ml-auto min-width-90 d-flex justify-content-center">
                            {% if bug.status == 'pending' %}
                            <span class="d-inline-block badge badge-warning badge-pill issue-badge-pill">Pending</span>
                            {% elif bug.status == 'in progress' %}
                            <span class="d-inline-block badge badge-success badge-pill issue-badge-pill">In
                                Progress</span>
                            {% else %}
                            <span class="d-inline-block badge badge-info badge-pill issue-badge-pill">Closed</span>
                            {% endif %}
                        </div>
                        <div class="ml-1 min-width-90">
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-thumbs-up"></i>
                                {{ bug.votes }}</span>
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-comment"></i>
                                {{ bug.comments }}</span>
                        </div>
                    </div>
                    <span class="text-muted">#{{ bug.pk }} Created on {{ bug.date_created }} by {{ bug.author }}</span>
                </li>
                {% empty %}
                <li class="list-group-item">
                    <div class="text-center">
                        <p class="pt-2">There are no reported bugs open, or none that match the search criteria.</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if not user.is_authenticated %}
            <div class="d-flex button-container" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Please Log In">
                <a href="{% url 'create_bug' %}" class="btn btn-success my-2 disabled">New Bug</a>
            </div>
            {% else %}
            <div class="d-flex button-container">
                <a href="{% url 'create_bug' %}" class="btn btn-success my-2">New Bug</a>
            </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-6 mb-4">
            <ul class="list-group d-flex flex-column">
                <li class="list-group-item list-group-item-secondary">
                    <div class="d-flex flex-row text-center">
                        <h4 class="text-dark"><strong>Features</strong></h4>
                        <div class="ml-auto pt-2">
                            <form action="" method="POST" id="feature-filter-form">
                                {% csrf_token %}
                                <!-- Search filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="featureSearchDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Search
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="featureSearchDropdownButton">
                                        <input type="text" class="form-control" id="featureSearchDropdownInput"
                                            name="feature-search" placeholder="Search title">
                                    </div>
                                </div>
                                <!-- Status filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="featureStatusDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Status
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="featureStatusDropdownButton">
                                        <div class="custom-control feature-status-radio">
                                            <input type="radio" id="featureStatusPending" name="featureStatus"
                                                class="custom-control-input feature-status" value="pending">
                                            <label class="custom-control-label"
                                                for="featureStatusPending"><small>Pending</small></label>
                                        </div>
                                        <div class="custom-control feature-status-radio">
                                            <input type="radio" id="featureStatusInProgress" name="featureStatus"
                                                class="custom-control-input feature-status" value="in-progress">
                                            <label class="custom-control-label" for="featureStatusInProgress"><small>In
                                                    Progess</small></label>
                                        </div>
                                        <div class="custom-control feature-status-radio">
                                            <input type="radio" id="featureStatusClosed" name="featureStatus"
                                                class="custom-control-input feature-status" value="closed">
                                            <label class="custom-control-label"
                                                for="featureStatusClosed"><small>Closed</small></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sort filter -->
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-sm bg-transparent dropdown-toggle" type="button"
                                        id="featureSortDropdownButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Sort
                                    </button>
                                    <div class="dropdown-menu px-1" aria-labelledby="featureSortDropdownButton">
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortNameDown" name="featureSort"
                                                class="custom-control-input feature-sort" value="name-down">
                                            <label class="custom-control-label" for="featureSortNameDown"><small>Name <i
                                                        class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortNameUp" name="featureSort"
                                                class="custom-control-input feature-sort" value="name-up">
                                            <label class="custom-control-label" for="featureSortNameUp"><small>Name <i
                                                        class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortVotesDown" name="featureSort"
                                                class="custom-control-input feature-sort" value="votes-down">
                                            <label class="custom-control-label" for="featureSortVotesDown"><small>Votes
                                                    <i class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortVotesUp" name="featureSort"
                                                class="custom-control-input feature-sort" value="votes-up">
                                            <label class="custom-control-label" for="featureSortVotesUp"><small>Votes <i
                                                        class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortCommentsDown" name="featureSort"
                                                class="custom-control-input feature-sort" value="comments-down">
                                            <label class="custom-control-label"
                                                for="featureSortCommentsDown"><small>Comments
                                                    <i class="fas fa-arrow-down"></i></small></label>
                                        </div>
                                        <div class="custom-control feature-sort-radio">
                                            <input type="radio" id="featureSortCommentsUp" name="featureSort"
                                                class="custom-control-input feature-sort" value="comments-up">
                                            <label class="custom-control-label"
                                                for="featureSortCommentsUp"><small>Comments <i
                                                        class="fas fa-arrow-up"></i></small></label>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-secondary mx-2 d-none">Submit</button>

                                <a href="{% url 'tracker' %}" class="btn btn-sm btn-secondary mx-2">Reset</a>
                            </form>
                        </div>
                    </div>
                </li>
                {% for feature in features %}
                <li class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row">
                        <div>
                            <i class="fas fa-plus mr-2 border border-success text-success rounded-circle p-1"></i>
                        </div>
                        <h6 class="issue-title text-wrap">
                            <a href="feature_detail/{{ feature.pk }}/"
                                class="text-decoration-none text-secondary font-weight-bold"><strong>{{ feature.title }}</strong></a>
                        </h6>
                        <div class="ml-auto min-width-90 d-flex justify-content-center">
                            {% if feature.status == 'pending' %}
                            <span class="d-inline-block badge badge-warning badge-pill issue-badge-pill">Pending</span>
                            {% elif feature.status == 'in progress' %}
                            <span class="d-inline-block badge badge-success badge-pill issue-badge-pill">In
                                Progress</span>
                            {% else %}
                            <span class="d-inline-block badge badge-info badge-pill issue-badge-pill">Closed</span>
                            {% endif %}
                        </div>
                        <div class="ml-1 min-width-90">
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-thumbs-up"></i>
                                {{ feature.votes }}</span>
                            <span class="badge badge-light badge-pill issue-badge-pill"><i class="far fa-comment"></i>
                                {{ feature.comments }}</span>
                        </div>
                    </div>
                    <span class="text-muted">#{{ feature.pk}} Created on {{ feature.date_created }} by
                        {{ feature.author }}</span>
                </li>
                {% empty %}
                <li class="list-group-item">
                    <div class="text-center">
                        <p class="pt-2">There are no new feature requests open, or none that match the search criteria.
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if not user.is_authenticated %}
            <div class="d-flex button-container" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Please Log In">
                <a href="{% url 'create_feature' %}" class="btn btn-success my-2 disabled">New Feature</a>
            </div>
            {% else %}
            <div class="d-flex button-container">
                <a href="{% url 'create_feature' %}" class="btn btn-success my-2">New Feature</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
{% block page_js %}
<script src="{% static 'js/tracker.js' %}"></script>
{% endblock %}